.navbar {
  background-color: #edf6eb
}

/* Sticky Footer Classes */

.footer {
    margin-bottom: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#page-content {
flex: 1 0 auto;
}
#sticky-footer {
flex-shrink: none;
}
/* Other Classes*/
body {
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: rgb(241, 241, 193);
}