{% extends 'base.html'%}

{% block styles %}
{{super()}}
<style>
    h1   {color: black; text-align: center; font-size: 400%;}    
</style>
{% endblock %}

{% block active %}

<li class="nav-item">
    <a class="nav-link" href="/about/">a b o u t  </a>  
</li>
<li class="nav-item">
    <a class="nav-link" href="/resources/">r e s o u r c e s  </a>
</li>

<!-- <a class="nav-link" href="/games/">GAMES<span class="sr-only">(current)</span></a> -->
{% endblock %}

{% block header %}
<h1>About Muse</h1>
{% endblock %}

{% block content %}


<div class="row">
  <div class="col">
    <p> In light of COVID-19, the need for personal wellbeing and self care is greater than ever before. Hundreds and thousands of people worldwide are reported feeling anxious, stressed and unhappy during quarantine. That is why we have decided to create a hack dedicated to supporting mental health.  </p> 
      <p> Introducing Muse, a verb meaning to be absorbed in thought. One of the most effective ways of stress management (and overlooked) tool is our breathing. Using Muse, you are able to play your favourite song(s) and implement our selected breathing exercise techniques. </p> 
    <p> Deep breathing techniques helps your wellbeing in various ways: </p>
    <ul>
      <li>It can slow the heartbeat and lower or stabilize blood pressure</li>
      <li>Improve cognitive function</li>
      <li>Reduce symptoms of anxiety</li>
    </ul> 
  </div>
</div>
{% endblock %}