{% extends 'base.html'%}

{% block styles %}
{{super()}}
<style>
    h1   {color: black; text-align: center; font-size: 400%;}    

    #cont {
      background-color:#fdf7ce;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
    }
    @-webkit-keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-20px); }
    }
    @keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-20px); }
    }

</style>
<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
{% endblock %}

{% block active %}

<li class="nav-item">
    <a class="nav-link" href="/about/">a b o u t  </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/resources/">r e s o u r c e s  </a>
</li>
<!-- <a class="nav-link" href="/games/">GAMES<span class="sr-only">(current)</span></a> -->
{% endblock %}

{% block header %}
<h1></h1>
{% endblock %}

{% block content %}
<div class="container" style="margin-top:30px" id="cont">
<div class="text-white">
  <div class="row">
    <div class="col"><p>.</p></div>
  </div>
  <div class="row">
    <div class="col"><p>.</p></div>
  </div>
</div>
  <div class="d-flex justify-content-center">
    <div class = "padding-top">
      <div class="row">
        <div class="col-4">
          <img src="{{url_for('static', filename='tempmed.png')}}" alt="girl meditating" width="100%" height="100%">
        </div>
        <div class="col-8">
          <h1>welcome to <br> m u s e</h1>
          <p style="margin-top:20px;">at muse, we encourage music guided meditation. are you ready to begin your meditative journey?</p>
          <a href="/start/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" style="margin-left:44%; margin-bottom:20px; margin-top:20px;">ready.</a>
    
        </div>
      </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}